.footer {
    border-top: 1px solid #DEDEDE;
    height: 79px;
}

.footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3E3E3E;
    margin-left: 129px;
    line-height: 79px;
}