* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto",Arial,sans-serif;
    font-size: 16px;
}

.main {
    display: flex;
}

.main .container {
    margin-left: 129px;
    margin-right: 129px;
}

.text-center {
    text-align: center;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .main .container {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 739px) {
    .main .container {
        margin-left: 30px;
        margin-right: 30px;
    }
}